<p>
  <strong>Name:</strong>
  <%= @tea.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tea.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tea.description %>
</p>

<%= link_to 'Back', teas_path %>
