<div class="container">
  <h2>API Calls</h2>
  <ul>
    <li>
      <%= link_to 'Teas Catalog', controller: 'teas' %>
    </li>

    <li>
      Call featured
    </li>

    <li>
      TODO: filter
    </li>

    <li>
      <%= link_to 'Teas Catalog Add new', controller: 'teas', action: 'new' %>
    </li>

    <li>
      Angular test: {{test}}
    </li>
  </ul>

</div>



